table {
    border-collapse: collapse;
    margin: ($line-height / 2) 0;
    width: 100%;
}

thead > tr > th {
    border-bottom: 1px solid darken($border-color, 15);
    font-weight: bold;
    padding: ($line-height / 2) 0;
    text-align: left;
}

tbody > tr > td {
    border-bottom: 1px solid $border-color;
    padding: ($line-height / 2) 0;
}

tr, td, th {
    vertical-align: middle;
}

.striped {
    > tbody {
        > tr:nth-child(odd) {
            >td {
                background-color: $table-stripe;
            }
        }
    }
}

.hover {
    > tbody {
        > tr:hover {
            > td {
                background-color: $table-hover;
            }
        }
    }
}