/**
 *
 * PurdyStyle Variables
 *
 **/

$grid-gutter: 30px;
$grid-columns: 12;

$container-sm:          (720px + $grid-gutter);
$container-md:          (940px + $grid-gutter);
$container-lg:          (1140px + $grid-gutter);
